/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }


  /* Modo oscuro */
  .dark-mode {
  background-color: black;

}
  
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  nav ul button{
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 10px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
  }
  
  a:hover {
    background-color: #555;
  }
  
  section {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  /* Estilos específicos para el reloj */
 

  #spinner {
    border: 1px solid #ccc;
  }
  
  #spin-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #spin-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  

